---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const pageTitle = "Recetario";
const recetas = await getCollection("recetario");
---

<BaseLayout pageTitle={pageTitle}>
  <div class="centrado">
    <section aria-label="recetas">
      <div class="centrado">
        {
          recetas.map((receta) => {
            const { slug, data } = receta;
            const { title, category, ingredients, tags } = data;
            return (
              <article>
                <h3>{category}: </h3>
                <a href={`/receta/${slug}`}>{title}</a>
              </article>
            );
          })
        }
      </div>
    </section>
  </div>
</BaseLayout>

<style>
  .centrado {
    display: grid;
    place-content: center;
  }

  h3 {
    font-size: 1em;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 0;
  }
</style>
