---

---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Inicio</a>
    <a href="/blog/">Recetario</a>

    <h1>Título principal en blog.astro</h1>
    <p>Esto es un párrafo en blog.astro.</p>
    <ul>
      <li><a href="/posts/receta_01/">Arroz con leche</a></li>
      <li><a href="/posts/receta_02/"> Budín de naranja</a></li>
    
    </ul>
  </body>
</html>
