---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Recetario";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Título principal en blog.astro</h1>
  <p>Esto es un párrafo en blog.astro.</p>
  <ul>
    <li><a href="/posts/receta_01/">Arroz con leche</a></li>
    <li><a href="/posts/receta_02/">Budín de naranja</a></li>
  </ul>
</BaseLayout>
